body {
    margin: 0;
}

.article {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 220px;
    flex-direction: column;
}

.nav {
    display: flex;
}

.left-links {
    display: flex;
    font-weight: bolder;
    font-size: 24px;
    align-items: center;
}

.right-links {
    display: flex;
    margin-left: auto;
    gap: 50px;
    font-size: 18px;
    align-items: center;
}

.body-top {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    margin: 50px 0 100px 0;
}

.body-top img {
    width: 250px;
    height: auto;
}

.body-top-right {
    background-color: grey;
    padding: 68px;
}

.body-top-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 30px;
}

.body-top-item, .body-top-left button {
    flex: 1;
}

.body-top-left .button a {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 5px 20px 5px 20px;

}

.body-middle-1 {
    display: flex;
    flex-direction: column;
    padding: 100px 350px;
    align-items: center;
}

p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.body-middle-1-box-group {
    display: flex;
    gap: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box img {
    width: 150px;
    height: auto;
}

.box-word {
    text-align: center;
}

.body-middle-2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 100px;
    align-items: center;
    justify-content: center;
}

.body-middle-2-quote {
    flex: 0 1 auto;
    font-style: italic;
    font-size: 25px;
    margin: 0 150px 0 150px;
}

.body-middle-2-author {
    font-weight: bold;
    font-size: 18px;
    margin: 0 150px 0 auto;
}

.body-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 100px
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px 100px;
}

.body-bottom .button a{
    padding: 5px 20px 5px 20px;
    border: white solid 3px;
    border-radius: 10px;
    color: white;
    margin-left: 50px;
}

.body-bottom-left {
    padding-right: 40px;
    color: white;
}

.body-bottom-left p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 30px;
    flex: 0;
}