body {
    margin: 0;
}

.article {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 100px;
    
}

.left-links {
    display: flex;
    font-weight: bolder;
    font-size: 24px;
    align-items: center;
}

.right-links {
    display: flex;
    margin-left: auto;
    gap: 50px;
    font-size: 18px;
    align-items: center;
}

.body-top {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 0 100px;
}

.body-top-right {
    background-color: grey;
    padding: 68px;
}

.body-top .button a {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 5px 20px 5px 20px;
}

.body-middle-1 {
    display: flex;
    flex-direction: column;
    border: 5px dashed black;
    padding: 100px 100px;
    align-items: center;
}

.body-middle-1-title {
    font-size: 40px;
    font-weight: 700;
}

.body-middle-1-box-group {
    display: flex;
    gap: 40px;
}

.body-middle-2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 100px;
    align-items: center;
    justify-content: center;
}

.body-middle-2-quote {
    flex: 0 1 auto;
    font-style: italic;
    font-size: 25px;
    margin: 0 150px 0 150px;
}

.body-middle-2-author {
    font-weight: bold;
    font-size: 18px;
    margin: 0 150px 0 auto;
}

.body-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 100px 100px;
}

.body-bottom .button a{
    padding: 5px 20px 5px 20px;
    border: white solid 3px;
    border-radius: 10px;
    color: white;
    margin-left: 50px;
}

.body-bottom-item {
    background-color: #3882F6;
    padding-right: 40px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 30px;
    flex: 0;
}